body{
	background-color: #D2E1FF;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0;

	
	

}
.sliderek{
	background-image: url("images/slide1.png");
	width: 1200px;
	height: 600px;
	position: absolute;
	z-index: -99;
		


}
#container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	
	/*background-size: 100%;
	background-repeat: no-repeat;*/
	border-bottom: solid 1px #909090;
	border-left: solid 1px #909090;
	border-right: solid 1px #909090;


	-webkit-box-shadow: 2px 14px 52px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 14px 52px 2px rgba(0,0,0,0.75);
	box-shadow: 2px 14px 52px 2px rgba(0,0,0,0.75);
}

#header{
	height: 145px;
	width: 1200px;
	background-color: rgba(137,201,255,0.7);

	
}	

#logo{
	margin-left: 8%;
	margin-right: 160px;
	padding-top: 10px;
	float: left;

}

#menuOption{
	float: left;
	
}
ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	line-height: 150%;
}
ol a{
	color: #ffffff;
	text-decoration: none;
	display: block; /* zachowuje sie jak element blokowy*/

}

ol > li{
	float: left;
	padding-right: 15px;
	text-align: center;
	padding-left: 15px;
	margin-top: 100px;
	border-right: 1px dashed #1A75DC;
}
ol > li:first-of-type{
	border-left: 1px dashed #1A75DC;
}
ol> li:hover{
	background-color: #FFE1BD;
}

ol > li:hover > a{
	color: #000000;
}

ol > li > ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
}
ol > li:hover{
	border-left: 1px dashed #1A75DC;
}
ol > li:hover > ul{
	display: block;
}

ol > li > ul > li{
	background-color: #FFE1BD;
	opacity: 0.7;
	position: relative;
	z-index: 99;
	border-top: 1px dashed #1A75DC;

}
ol > li > ul > li > a{
	color: #000000;	
	font-size: 14px;
}
ol > li > ul > li:hover{
	background-color: #CA8230;

}
ol > li > ul > li:hover > a{
	color: #ffffff;
}



#quotation{
	margin-left: 80px;
	color: #404040;
	font-style: italic;
	padding-top: 80px;
	font-size: 20px;
}

.topTile{
	float: left;
	width: 240px;
	background-color: rgba(137,201,255,0.7);
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 90px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

}
.topTile:nth-of-type(3){
	margin-left: 240px;
}

#main{
	width: 1200px;
}
#bottom{
	width: 1200px;
}


.bottomTile{
	float: left;
	width: 190px;
	height: 170px;
	background-color: rgba(137,201,255,0.7);
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding: 10px 25px 10px 25px;
	font-size: 18px;
	text-align: center;
}
.bottomTile:nth-of-type(1){
	margin-left: 20%;
	

}
.bottomTile p{
	font-size: 13px;
	text-align: right;
}

#bottom{
	background-image: url("images/bg2nd.png");
	background-size: 100% 100%;
}
a{
	text-decoration: none;
	color: #ffffff;
}
a:hover{
	color: #404040;
}

h3{
	margin-left: 40px;
	margin-top: 70px;
}

#mainArea p{
	margin-right: 40px;
	margin-left: 40px;
	text-align: justify;
	font-size: 18px;
	line-height: 150%;
}

hr{

	width: 1120px;


}

#mainArea{
	border: 1px solid #273849;
	background-color: #FFF2E4;
	color: #273849;

}

#mainArea img{
	margin-left: 380px;
}




#text{
	float: left;
	width: 700px;
	
}
#img{
	float: right;
	margin-right: 40px;
	
	
}
#img img{
	margin-left:0px; 
	width: 400px;
	margin-top: 20px;
}

#img img:nth-of-type(2){
	margin-top: 15px;
}

h4{
	margin-left: 40px;
	margin-bottom: 0px;
}

#text ul{
	margin-left: 40px;
	font-size: 18px;
	text-align: justify;
	line-height: 150%;
}

#textInCoTo{
	width: 700px;
	margin-top: 50px;
	float: left;
}

#imgInCoTo img{
	width: 400px;
	float: right;
	margin-left: 0px;
	margin-right: 40px;
	margin-top: 76px;
	
}
#imgInCoTo img:nth-of-type(2){
	margin-top: 20px;
}

#mainArea ul{
	margin-left: 20px;
	font-size: 18px;
	line-height: 150%;
}

#text2{
	float: right;
	width: 700px;
	
}
#img2{
	float: left;
	margin-left: 40px;	
}
#img2 img{
	margin-left:0px; 
	width: 420px;
	margin-top: 20px;
}

table{
	text-align: center;
	width: 200px;
	margin-left: 180px;
	line-height: 200%;
	font-size: 18px;

}
#price{
	width: 600px;
	float: left;
}
#discount{
	float: left;
	width: 500px;
}
#discount img{
	width: 360px;
	margin-left: 40px;

}
#contact p{
	text-align: center;
	line-height: 100%;
}
#contact a{
	color: #273849;
	font-size: 18px;
}
#contact img{
	margin-left: 440px;
	
}